<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="util.android"
    android:versionCode="2"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application>
        <provider
            android:name=".PodcastProvider"
            android:authorities="util.android.podcast"
            android:enabled="true"
            android:exported="true" >
        </provider>
    </application>

</manifest>